<%- include('../partials/header') %>

<h1>Restaurant List</h1>
<table id="list">
  <thead>
    <tr>
      <th>Restaurant Name</th>
      <th>Location</th>
      <th>Open</th>
      
      
    </tr>
  </thead>
  <tbody>
      <% restaurantDoc.forEach(m => { %>
              <tr>
                  <td><%= m.restaurantName %></td>
                  <td><%= m.location %></td>
                  <td><%= m.openHour %></td>
                  <td><a href="/restaurants/<%= m._id %>">DETAILS</a></td>
                  <td><a href="/restaurants/<%= m._id %>/edit ">EDIT</a></td>
                  <td>
                  <form action="/restaurants/<%= m._id %>?_method=DELETE" method="POST">
                    <button type="submit">DELETE</button>
          
                  </form>
                </td>
              </tr>
              <% }); %>
  </tbody>
</table>


<%- include('../partials/footer') %>