<%- include('../partials/header') %>

<section id="show-page">
  <div>Name: <%= restaurantDoc1.restaurantName %></div>
  <br>
  <div>Location: <%= restaurantDoc1.location %></div>
  <br>
  <div>Open: <%= restaurantDoc1.openHour %></div>
</section>
<br>

<a href="/courses/<%= restaurantDoc1._id %> ">Add Course Infor</a>
<div>Main Course Information:</div>
<br>
<section>
<% restaurantDoc1.courses.forEach(c => { %>
  <div>Course Name:<%= c.courseName %></div> 
  <div>Price:<%= c.price %></div> 
  <div>Recipes:<%= c.recipes %></div> 
  <br>
  <% }); %>

</section>
<br>
<br>
<form id="add-review-form" method="POST" action="/restaurants/<%= restaurantDoc1._id %>/reviews">
  <label>Review:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
   <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
<input type="submit" value="Add Review">
</form>

<br>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Review</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
      <% restaurantDoc1.reviews.forEach(function(r) { %>
          <tr>
            <td>
              <%= r.createdAt.toLocaleDateString() %>
            </td>
            <td>
              <%= r.content %>
            </td>
            <td>
              <%= r.rating %>
            </td>
            <td>
                <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                  <button type="submit">DELETE</button>
                </form>
            </td>
          </tr>
          <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>