<%- include('../partials/header') %>


<section id="show-page">
  <div>Name: <%= restaurant.restaurantName %></div>
  <div>Location: <%= restaurant.location %></div>
  <div>Open: <%= restaurant.openHour %></div>
</section>



<%- include('../partials/footer') %>